@model Ecommerce_Vestuario_REVIEW.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Cliente</h2>

<b>Nome: </b> @Model.Nome <br/>
<b>CPF: </b> @Model.CPF <br/>
<b>Data de Nascimento: </b> @Model.DataNascimento <br/>
