@model IEnumerable<Ecommerce_Vestuario_REVIEW.Models.Customer>

@{
	ViewBag.Title = "Clientes";
}

<h2>Lista de Clientes</h2>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Cadastro</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var clothe in Model)
		{
			<tr>
				<th scope="row">@clothe.Id</th>
				<td>@Html.ActionLink(@clothe.Nome, "Details", new { clothe.Id })</td>
				<td>@clothe.DataCadastro</td>
			</tr>
		}
	</tbody>
</table>

