
@model IEnumerable<Ecommerce_Vestuario_REVIEW.Models.Customer>

@{
    ViewBag.Title = "Clientes";
}

<h2>Lista de Clientes</h2>

<table class="table table-hover" id="customers">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Cadastro</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr class="col-xs-12">
                <th scope="row">@customer.Id</th>
                <td>@Html.ActionLink(@customer.Nome, "Details", new { customer.Id })</td>
                <td>@customer.DataCadastro</td>
            </tr>}
    </tbody>
</table>

@section scripts
{
    <script>

        $("#customers").on("click", ".js-delete",
           function () {
               var button = $(this);
               bootbox.confirm("Tem certeza que quer exluir o registro?", function (result) {
                   if (result) {
                       $.ajax({
                           url: "/customer/delete/" + button.attr("data-customer-id"),
                           method: "GET",
                           success: function () {
                               button.parents("tr").remove();
                           }
                       });
                   }
               });
           });

    </script>
}


