@model IEnumerable<Ecommerce_Vestuario_REVIEW.Models.Clothe>

@{
    ViewBag.Title = "Roupas";
}

<h2>Catálogo de Roupas</h2>


 <div class="row">
    @foreach (var clothe in Model) { 
            <div class="col-xs-6 col-md-4">
                <h1>@clothe.Nome</h1>
                <a href="#" class="thumbnail">
                    <img src=@clothe.UrlImagem alt="Foto do produto"/>
                </a>

                <div class="caption">
                    <p class="descricaoRegistro">
                        <span><b>Referência:</b> @clothe.Id</span>
                        <span><b>Cor:</b> @clothe.Cor</span>
                        <span><b>Valor:</b> R$ @clothe.Preco,00</span>
                    </p>
                </div>
            </div>
    }
</div>



